server {
    listen 443 ssl;
    server_name {{ domain }};

    ssl_certificate {{ cert_path }}/live/{{ domain | lower }}/fullchain.pem;
    ssl_certificate_key {{ cert_path }}/live/{{ domain | lower }}/privkey.pem;

    root {{ target }};
    index index.html index.htm;

    location / {
        try_files $uri $uri/ =404;
    }
}
