# Redirect bare → www
server {
    listen 80;
    server_name {{ all_domains[0] }};
    return 301 http://{{ all_domains[1] }}$request_uri;
}

# Main site
server {
    listen 80;
    server_name {{ all_domains | join(' ') }};

    root {{ target }};
    index index.html index.htm;

    location / {
        try_files $uri $uri/ =404;
    }
}
