# HTTP-only proxy (bare + www)
server {
    listen 80;
    server_name {{ all_domains | join(' ') }};

    # Redirect bare → www
    if ($host = {{ all_domains[0] }}) {
        return 301 http://{{ all_domains[1] }}$request_uri;
    }

    {% for route in routes %}
    location {{ route.location | trim }} {
        proxy_pass {{ route.target }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
    {% endfor %}
}
