server {
    listen 443 ssl;
    server_name {{ domain }};

    ssl_certificate {{ cert_path }}/live/{{ domain }}/fullchain.pem;
    ssl_certificate_key {{ cert_path }}/live/{{ domain }}/privkey.pem;

    {% for route in routes %}
    location {{ route.location | trim }} {
        proxy_pass {{ route.target }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
    {% endfor %}
}
