server {
    listen 80;
    server_name {{ domain }};

    {% for route in routes %}
    location {{ route.location | trim }} {
        proxy_pass {{ route.target }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
    {% endfor %}
}
