server {
    listen 443 ssl;
    server_name {{ domain }};

    ssl_certificate {{ cert_path }}/live/{{ domain | lower }}/fullchain.pem;
    ssl_certificate_key {{ cert_path }}/live/{{ domain | lower }}/privkey.pem;

    location {{ routes[0].location | default("/") | trim }} {
        proxy_pass {{ routes[0].target }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
