server {
    listen 80;
    server_name {{ domain }};

    location {{ routes[0].location | default("/") | trim }} {
        proxy_pass {{ routes[0].target }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
